.possible-move::after {
  /* background-color: rgba(255, 0, 0, 0.2) !important; */
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: rgba(128, 128, 128, 0.4);
  position: absolute;
  left: 50% - 20px;
  top: 50% - 20px;
  z-index: 100;
}

.possible-move.can-capture::after {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 8px solid rgba(128, 128, 128, 0.4);
  left: 0;
  top: 0;
}
